@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic)
*
    margin: 0
    padding: 0
    box-sizing: border-box
a
    text-decoration: none
button, input
    background: none
    border: none

.section-1
    margin-top: 5%
    width: 100%
    height: 80vh
    .cont
        height: 100%
        width: 70%
        margin: 0 auto
        .shop
            width: 50%
            margin: 0 auto
            display: flex
            align-items: center
            justify-content: space-around
            h2
                font-family: 'Ubuntu'
                font-style: normal
                font-weight: 700
                font-size: 46px
                line-height: 130%
                display: flex
                align-items: center
                color: #1E212C
        .nav
            margin-top: 3%

            h3
                font-family: 'Ubuntu'
                font-style: normal
                font-weight: 700
                font-size: 40px
                line-height: 130%
                display: flex
                align-items: center
                color: #1E212C
            h4
                font-family: 'Ubuntu'
                font-style: normal
                font-weight: 700
                font-size: 25px
                line-height: 100%
                display: flex
                align-items: center
                color: #1E212C

            .slide
                width: 100%
                display: flex
                align-items: center
                justify-content: space-between
                .leftside
                    width: 60%
                    height: 50%

                    h5
                        font-family: 'Ubuntu'
                        font-style: normal
                        font-weight: 700
                        font-size: 16px
                        line-height: 160%
                        color: #1E212C
                        margin-top: 5%

            .arrows
                margin: 0 auto
                height: 10%
                width: 10%
                display: flex
                justify-content: space-around
